<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="router-link-active">
         <a class="nav-link " [routerLink]="['/dashboard']" >Dashboard</a>    
      <li class="nav-item " routerLinkActive="router-link-active">
        <a class="nav-link " [routerLink]="['/people']" >People</a>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/company']">Company</a>
      </li>
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/opportunity']">Opportunities</a>
      </li>
    </ul>
  </div>
</nav>
<div >
  <router-outlet></router-outlet>

  
 